<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EntrepreneurHub | Login & Register</title>
    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Style -->
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div class="form-container">
      <div class="col col-1">
        <div class="image-layer">
          <img
            src="assets/img/white-outline.png"
            alt="entrepreneurhub"
            class="form-image-main"
          />
          <img src="assets/img/dots.png" class="form-image dots" />
          <img src="assets/img/coin.png" class="form-image coin" />
          <img src="assets/img/rocket.png" class="form-image rocket" />
          <img src="assets/img/cloud.png" class="form-image cloud" />
          <img src="assets/img/stars.png" class="form-image stars" />
        </div>
        <p class="featured-words">
          You are Few Steps Away from Joining Us <span>EntrepreneurHub</span>
        </p>
      </div>

      <div class="col col-2">
        <div class="buton-box">
          <button class="btn btn-1" id="login">Sign In</button>
          <button class="btn btn-2" id="register">Sign Up</button>
        </div>
        

        <div class="login-form">
          <div class="form-title">
            <span>Sign In</span>
          </div>

          <div class="form-inputs">
            <div class="input-box">
              <input
                type="text"
                class="input-field"
                placeholder="username"
                required
              />
              <i class="bx bxs-user icon"></i>
            </div>

            <div class="input-box">
              <input
                type="password"
                class="input-field"
                placeholder="password"
                required
              />
              <i class="bx bxs-lock-alt icon"></i>
            </div>

            <div class="forget-pass">
              <a href="#">Forget Password?</a>
            </div>

            <div class="input-box">
              <button class="input-submit">
                <span>Sign In</span><i class="bx bx-right-arrow-alt"></i>
              </button>
            </div>
          </div>

          <div class="social-login">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-google"></i></a>
          </div>
        </div>
        

        <div class="register-form">
          <div class="form-title">
            <span>Create Account</span>
          </div>
          
          <div class="form-inputs">
            <div class="row">
              <div class="input-box">
                <input
                  type="text"
                  class="input-field"
                  placeholder="Email"
                  required
                />
                <i class="bx bxs-user icon"></i>
              </div>
              <div class="input-box">
                <input
                  type="text"
                  class="input-field"
                  placeholder="username"
                  required
                />
                <i class="bx bxs-user icon"></i>
              </div>
           </div> 
           <div class="row">
              <div class="input-box">
                <input
                  type="text"
                  class="input-field"
                  placeholder="username"
                  required
                />
                <i class="bx bxs-user icon"></i>
              </div>
              <div class="input-box">
                <input
                  type="text"
                  class="input-field"
                  placeholder="username"
                  required
                />
                <i class="bx bxs-user icon"></i>
              </div>
            </div> 
            <div class="row">
              <div class="input-box">
                <input
                  type="text"
                  class="input-field"
                  placeholder="username"
                  required
                />
                <i class="bx bxs-user icon"></i>
              </div>

              <div class="input-box">
                <input
                  type="password"
                  class="input-field"
                  placeholder="password"
                  required
                />
                <i class="bx bxs-lock-alt icon"></i>
              </div>
            </div>
            <div class="forget-pass">
              <a href="#">Forget Password?</a>
            </div>

            <div class="input-box">
              <button class="input-submit">
                <span>Sign up</span><i class="bx bx-right-arrow-alt"></i>
              </button>
            </div>
          </div>

        </div>
        
      </div>
    </div>

    <script src="assets/js/main.js"></script>
  </body>
</html>
